<app-header>

  <div class="sablon-auth-container" fxLayoutAlign="center center">

    <div fxLayout="column" fxLayoutAlign="center center">

      <mat-card class="container" fxLayout="column">
    
        <mat-card-header>
          <mat-card-title-group>
            <h2 class="text-header">{{textButonAutentificare}}</h2>
          </mat-card-title-group>
        </mat-card-header>
    
        <mat-card-content fxLayout="column" fxLayoutGap="15px" class="input-action">
    
          <form [formGroup]="form" #formDirective="ngForm">
            <div *ngIf="!esteResetareParola">
            <mat-form-field>
              <input matInput type="text" value="" placeholder="Nume utilizator" name="username" id="username"
                formControlName="username" autofocus autocomplete="off" required>
              <mat-error>Introduceţi o valoare</mat-error>
              <mat-icon matSuffix class="iconita_username" style="margin-left: 29px;">account_circle</mat-icon>
            </mat-form-field>
    
            <mat-form-field>
              <input matInput [type]="hide ? 'password' : 'text'" value="" placeholder="Parola" name="password"
                id="password" formControlName="password" autocomplete="off" required>
              <mat-error>Introduceţi o valoare</mat-error>
              <mat-icon matSuffix class="iconita_show_password" (click)="hide = !hide">
                {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-icon matSuffix class="iconita_password">vpn_key</mat-icon>
            </mat-form-field>
            </div>
    
            <div *ngIf="esteResetareParola">
              <mat-form-field>
                <input matInput [type]="hideSchimbareParola ? 'password' : 'text'" value="" placeholder="Parola noua"
                  formControlName="parola" name="parola" id="parola" autofocus required>
                <mat-icon matSuffix class="iconita_show_password" (click)="hideSchimbareParola = !hideSchimbareParola">
                  {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-icon matSuffix class="iconita_password">vpn_key</mat-icon>
                <mat-error>Introduceţi o valoare</mat-error>
    
              </mat-form-field>
              <br>
              <mat-form-field>
                <input matInput [type]="hideConfirmareSchibmareParola ? 'password' : 'text'"
                  placeholder="Confirmare parola noua" formControlName="confirmareParolaNoua" name="confirmareParolaNoua"
                  id="confirmareParolaNoua" required>
                <mat-icon matSuffix class="iconita_show_password"
                  (click)="hideConfirmareSchibmareParola = !hideConfirmareSchibmareParola">
                  {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-icon matSuffix class="iconita_password">vpn_key</mat-icon>
                <mat-error *ngIf="confirmareParolaNoua.errors.required">Introduceţi o valoare</mat-error>
                <mat-error *ngIf="confirmareParolaNoua.errors.confirmPassword">Parola noua si Confirmare parola noua nu coincid!</mat-error>
    
              </mat-form-field>
            </div>
    
            <div *ngIf="listaDb">
              <mat-form-field class="setare-lungime">
                <mat-label>Selectaţi grădiniţa dvs.:</mat-label>
                <mat-select id="bazaDeDate" formControlName="bazaDeDate">
                  <mat-option *ngFor="let database of listaDb" [value]="database.codUnicBd">
                    {{database.friendlyName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
    
            <div fxLayoutAlign="end" fxLayout="row" class="butoane-action">
              <button mat-stroked-button (click)="autentificare()" class="buton-galben">
                {{textButonAutentificare}}
              </button>
            </div>
  
          </form>
        </mat-card-content>
    
      </mat-card>

      <br>
      token: {{detectLocalStorage()}}

    </div>

  </div>

</app-header>