<app-header>

  <br>

  <div class="container">
    
    <div fxLayout="column" fxLayoutAlign="center center">
      <h1>QR Code</h1>

      <div fxLayout="column" fxLayoutAlign="start start">
        <pre class="code">$ ionic cordova plugin add phonegap-plugin-barcodescanner</pre>  
        <pre class="code">n$ npm install @ionic-native/barcode-scanner</pre>
      </div>
      
      <br>

      <div>
        <p>https://www.google.com/search?q=pokemon</p>
          <img width="250px" src="../../../assets/qr-code/Pokemon.png" alt="">
      </div>
        
      <br><br><br>

      <div>
        <p>https://www.google.com/search?q=digimon</p>
        <img width="250px" src="../../../assets/qr-code/Digimon.png" alt="">
      </div>

    </div>
      

    
  </div>
  


</app-header>